<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhihaoliang.demo.dao.base.dao.AyMoodMapper" >
  <resultMap id="BaseResultMap" type="com.zhihaoliang.demo.model.AyMood" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="praise_num" property="praiseNum" jdbcType="INTEGER" />
    <result column="publish_time" property="publishTime" jdbcType="DATE" />
  </resultMap>
</mapper>